* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 23.75em) {
  html {
    font-size: 37.5%;
  }
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 9vw;
}
@media (max-width: 48em) {
  .container {
    padding: 0 7vw;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #636060;
}

.heading-1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  color: #717171;
}
.heading-1--modify {
  color: #499A18;
}

.heading-2 {
  font-family: "Inika", sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  color: #499A18;
}
.heading-2--modify {
  color: #E06733;
}
.heading-2--centered {
  text-align: center;
  font-weight: 700;
}

.heading-3 {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
}
.heading-3--modify {
  color: #499A18;
}

.heading-5 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #E06733;
}

.mb-huge {
  margin-bottom: 12rem;
}

.mb-big {
  margin-bottom: 9rem;
}
@media (max-width: 48em) {
  .mb-big {
    margin-bottom: 6rem;
  }
}

.mb-medium {
  margin-bottom: 6rem;
}

.mb-small {
  margin-bottom: 3rem;
}

.nav {
  font-family: "Inika", sans-serif;
  font-size: 1.6rem;
  color: #010201;
}
.nav__list {
  display: flex;
  gap: 4.1vw;
}
@media (max-width: 23.75em) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  list-style: none;
}
.nav__link:link, .nav__link:active {
  text-decoration: none;
}
.nav__link--active {
  color: #E06733;
  font-weight: 700;
  cursor: default;
}
.nav__burger {
  position: relative;
}
.nav__burger, .nav__burger::before, .nav__burger::after {
  width: 40px;
  height: 2px;
  background-color: #717171;
  display: none;
}
@media (max-width: 23.75em) {
  .nav__burger, .nav__burger::before, .nav__burger::after {
    display: inline-block;
  }
}
.nav__burger::before, .nav__burger::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav__burger::before {
  top: -8px;
}
.nav__burger::after {
  top: 8px;
}

.btn {
  font-size: 1.6rem;
  color: #000;
  background-color: transparent;
  border: 0.2rem solid #E06733;
  padding: 1.4rem 2.7rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:active {
  transform: translateY(0.3rem);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #E3E1D5;
  border-radius: 2rem;
  padding-bottom: 3rem;
}
@media (max-width: 48em) {
  .card {
    width: 40%;
  }
}
@media (max-width: 23.75em) {
  .card {
    width: 90%;
  }
}
.card__img {
  width: 100%;
  border-radius: 2rem;
}
.card__text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #717171;
}

.table {
  flex: 0 1 25%;
}
.table__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem 4rem;
  border: 1px solid #E3E1D5;
  border-radius: 2rem;
}
.table__form select {
  min-width: 200px;
  max-width: 15vw;
  background-color: #EDF2EC;
  border: none;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  appearance: none;
  box-sizing: border-box;
  background: url("../../img/accordion_btn.png") no-repeat, #EDF2EC;
  background-position: right 3rem center;
  background-size: 16px 16px;
}
.table__form select option {
  font-family: "Inter", sans-serif;
}
.table__form select:focus,
.table__form select:active {
  background-color: #D6E7D2;
}

.city-form__list {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: #717171;
  letter-spacing: 0.05em;
}
@media (max-width: 23.75em) {
  .city-form__list {
    font-size: 3.35rem;
  }
}

.header {
  background-color: #EDF2EC;
  padding: 5.5rem 0;
}
@media (max-width: 48em) {
  .header {
    padding: 5rem 0;
  }
}
.header__flexbox {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}
.logo__text {
  font-family: "Inika";
  font-size: 1.6rem;
}

.welcome {
  padding: 6rem 0;
  background-color: #EDF2EC;
}
@media (max-width: 48em) {
  .welcome {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 23.75em) {
  .welcome {
    padding: 2rem 0;
  }
}
.welcome__img {
  width: 50vw;
}
@media (max-width: 48em) {
  .welcome__img {
    width: 33vw;
  }
}
@media (max-width: 23.75em) {
  .welcome__img {
    display: none;
  }
}
.welcome__content {
  display: flex;
  flex-direction: column;
  gap: 4.5vh;
  align-items: flex-start;
}
.welcome__flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.1vw;
}
@media (max-width: 48em) {
  .welcome__flexbox {
    flex-direction: row-reverse;
    gap: 7.1vw;
  }
}
.welcome__text {
  font-size: 2rem;
  line-height: 3.5rem;
}

.experience {
  padding: 9rem 0;
}
@media (max-width: 48em) {
  .experience {
    padding-top: 4rem;
  }
}
@media (max-width: 23.75em) {
  .experience {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
}
.experience__flexbox {
  display: flex;
  gap: 8vw;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 48em) {
  .experience__flexbox {
    flex-direction: column;
    gap: 6vh;
  }
}
.experience__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.experience__img {
  width: 60%;
  height: 60%;
}
@media (max-width: 48em) {
  .experience__img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 48em) {
  .experience__heading-2 {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 23.75em) {
  .experience__heading-2 {
    width: 75vw;
  }
}
.experience__text {
  font-size: 2rem;
  line-height: 3rem;
}

.service {
  background-color: #EDF2EC;
  padding: 4rem 0 12rem;
}
.service__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11vw;
}
@media (max-width: 48em) {
  .service__heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 6vh;
  }
}
.service__content {
  display: flex;
  flex-wrap: wrap;
  gap: 5.5rem;
  justify-content: center;
}
.service__list {
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
}
@media (max-width: 23.75em) {
  .service__list {
    padding-top: 3.5rem;
  }
}
.service--btn {
  flex: 1 0 150px;
  font-family: "Inika", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #E06733;
}
@media (max-width: 23.75em) {
  .service--btn {
    flex: 0 1 120px;
  }
}

.prices {
  padding: 4rem 0 13.5rem;
}
@media (max-width: 48em) {
  .prices {
    padding-bottom: 8rem;
  }
}
.prices__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 48em) {
  .prices__flex {
    justify-content: center;
  }
}
@media (max-width: 23.75em) {
  .prices__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.prices__heading-3 {
  text-align: center;
}
.prices__contact {
  text-align: right;
  flex: 0 1 52%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.8rem;
}
@media (max-width: 48em) {
  .prices__contact {
    padding-top: 11rem;
  }
}
@media (max-width: 23.75em) {
  .prices__contact {
    align-items: center;
    padding-top: 3rem;
    gap: 1.8rem;
  }
}
.prices__btn {
  font-size: "Inika", sans-serif;
  color: #E06733;
  font-weight: 700;
}
.prices__img {
  height: 100%;
  width: auto;
}
@media (max-width: 23.75em) {
  .prices__img {
    display: none;
  }
}

.contact {
  background-color: #EDF2EC;
  padding-top: 6rem;
}
@media (max-width: 48em) {
  .contact {
    padding-top: 4rem;
  }
}
.contact__flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 48em) {
  .contact__flex {
    flex-direction: column-reverse;
    gap: 10vh;
    align-items: center;
  }
}
@media (max-width: 23.75em) {
  .contact__flex {
    gap: 50vh;
  }
}
.contact__img {
  height: 100%;
}
@media (max-width: 48em) {
  .contact__img {
    height: 35%;
    width: 35%;
  }
}

.footer {
  font-size: 2rem;
  color: #000;
  padding: 4rem 0;
}
@media (max-width: 48em) {
  .footer {
    padding: 3rem 0 1.5rem;
  }
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48em) {
  .footer__flex {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer__title a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.footer__title a:hover {
  color: #E06733;
}
.footer__icons img {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  transform: translateY(0.5rem);
}
.footer__icons img:hover {
  background-image: linear-gradient(#E06733);
}

/*# sourceMappingURL=style.css.map */
