// COLORS
$color-primary: #499A18;
$color-secondary: #E06733;

$color-text-dark: #636060;
$color-text-light: #717171;

$color-background: #EDF2EC;
$color-link: #010201;

// Fonts
$font-default: "Inter", sans-serif;
$font-secondary: "Inika", sans-serif;
