.experience {
  padding: 9rem 0;

  @include respond(tablet) {
    padding-top: 4rem;
  }
  @include respond(phone) {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
  &__flexbox {
    display: flex;
    gap: 8vw;
    align-items: center;
    justify-content: space-between;

    @include respond(tablet) {
      flex-direction: column;
      gap: 6vh;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__img {
    width: 60%;
    height: 60%;
    @include respond(tablet) {
      width: 50%;
      height: 50%;
    }
  }

  &__heading-2 {
    @include respond(tablet) {
      width: 50vw;
      text-align: center;
      margin: 0 auto;  
    }
    @include respond(phone) {
      width: 75vw;
    }
  }
  &__text {
    font-size: 2rem;
    line-height: 3rem;
  }
}