.header {
  background-color: $color-background;
  padding: 5.5rem 0;

  @include respond(tablet) {
    padding: 5rem 0;
  }
  
  &__flexbox {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;

  &__text {
    font-family: "Inika";
    font-size: 1.6rem;
  }
}