.prices {

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__contact {
    text-align: right;
    flex: 0 1 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.8rem;
  }

  &__btn {
    font-size: $font-secondary;
    color: $color-secondary;
    font-weight: 700;
  }
  &__img {
    height: 100%;
    width: auto;
  }
}