.prices {
  padding: 4rem 0 13.5rem;
  @include respond(tablet) {
    padding-bottom: 8rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include respond(tablet) {
      justify-content: center;
    }
    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__heading-3 {
    text-align: center;
  }
  &__contact {
    text-align: right;
    flex: 0 1 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.8rem;
    @include respond(tablet) {
      padding-top: 11rem;
    }
    @include respond(phone) {
      align-items: center;
      padding-top: 3rem;
      gap: 1.8rem;
    }
  }

  &__btn {
    font-size: $font-secondary;
    color: $color-secondary;
    font-weight: 700;
  }
  &__img {
    height: 100%;
    width: auto;

    @include respond(phone) {
      display: none;
    }
  }
}