.prices {
  padding: 4rem 0 13.5rem;
  @include respond(tablet) {
    padding-bottom: 8rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__contact {
    text-align: right;
    flex: 0 1 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.8rem;
    @include respond(tablet) {
      padding-top: 11rem;
    }
  }

  &__btn {
    font-size: $font-secondary;
    color: $color-secondary;
    font-weight: 700;
  }
  &__img {
    height: 100%;
    width: auto;
  }
}