.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #E3E1D5;
  border-radius: 2rem;
  padding-bottom: 3rem;

  &__img {
    width: 100%;
    border-radius: 2rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $color-text-light;
  }
}